{% extends 'basic.html' %}
{% block content %}
      <div class="tm-call-to-action-box">

            <div class="tm-call-to-action-text">
            <h3 class="tm-call-to-action-title">
                나의 고객 관리
            </h3>
            <form action="{{ url_for('contact.update') }}" method="post" class="tm-call-to-action-form">
                <input type="hidden" name="contactid" value="{{ contact_one.id }}" >
                <label>DPF번호:</label>
                <input type="text" name="carnumber" id="carnumber" class="tm-car-input" style="width:150px" value="{{ contact_one.dpfcar.carnumber }}" disabled=""><br>
                <label>차량연식:</label>
                <input type="text" name="caryear" class="tm-car-input" style="width:100px" value="{{ contact_one.dpfcar.caryear }}" disabled=""><br>
                <label>차량차종:</label>
                <input type="text" name="carkind" class="tm-car-input" style="width:100px" value="{{ contact_one.dpfcar.carkind }}" disabled=""><br>
                <label>차량뒷번:</label>
                <input type="number" name="ownernum4" id ="ownernum4" class="tm-car-input" style="width:100px" min="0000" max="9999" required="" value="{{ contact_one.ownernum4 }}"><br>
                <label>소유자명:</label>
                <input type="text" name="ownername" class="tm-car-input" style="width:150px" maxlength="30" required="" value="{{ contact_one.ownername }}" ><br>
                <label>소유자폰:</label>
                <input type="text" name="ownertel" class="tm-car-input" style="width:200px" maxlength="30" required="" value="{{ contact_one.ownertel }}"><br>
                <label>기타사항:</label>
                <textarea name="owneretc" class="tm-car-input" style="width:500px" rows="5" >{{ contact_one.owneretc }}</textarea><br>

                <br>

                <button type="submit" class="btn btn-primary" onclick="return createchk();">
                <strong>변경</strong>
                </button>
            </form>
            </div>

      </div>
{% endblock %}

{% block script %}
<script type='text/javascript'>
function createchk(){
    var num4 = document.getElementById("ownernum4").value;
    var num41 = "**"+num4.substr(2,2);
    var num42 = num4.substr(0,1)+"**"+ num4.substr(3,1);
    var num43 = num4.substr(0,2)+"**";

    var car4 = document.getElementById("carnumber").value.substr(-4);

    if (car4==num41 || car4==num42 || car4==num43){
        return confirm('변경한 내용을 저장하시겠습니까?');
    }else{
        alert("차량뒷 4자리 숫자를 확인해 주세요. DPF번호와 부합하지 않습니다.");
        return false;
    }
}
</script>
{% endblock %}



